.probe/
**/jsconfig.json
.vscode/
crash-reports/
downloads/
dynamic-resource-pack-cache/
ESM/
ftbbackups3/
journeymap/
local/
logs/
mods/
moonlight-global-datapacks/
patchouli_books/
resourcepacks/
saves/
shaderpacks/
trees/
waypoints/
.curseclient
command_history.txt
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
kubejs/config/**
.idea/
*.iml

.probe
*.bak

config/Mekanism/client.toml
config/jei/*-sort-order.ini
config/jade/sort-order.json
user-prefs.json
.mixin.out/
config/jei_mekanism_multiblocks-saved_data.nbt
*.log
config/fzzy_config/keybinds.toml
config/explorerscompass-client.toml
screenshots/
config/firesenderexpansion-client.toml
config/twilightforest-client.toml
config/tombstone-client.toml

build/
.build/
config/emixx/emixx-client.toml
config/emi.css
config/emi_ores-client.json
emi.json
datapacks/
config/emi_loot_config.toml
config/reliquary-client.toml
config/crash_assistant/modlist.json
config/jei_enhancements_bookmarks.json
data/fabricDefaultResourcePacks.dat
config/ftblibrary-client.snbt
