.probe/
**/jsconfig.json
.vscode/
crash-reports/
downloads/
dynamic-resource-pack-cache/
ESM/
ftbbackups3/
journeymap/
local/
logs/
mods/
moonlight-global-datapacks/
patchouli_books/
resourcepacks/
saves/
shaderpacks/
trees/
waypoints/
.curseclient
command_history.txt
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
kubejs/config/**
.idea/
*.iml

.probe
*.bak
**/*-sort-order.ini
jade/sort-order.json