# --- IDE & System ---
.idea/
*.iml
.vscode/
**/jsconfig.json
.build/
build/
.mixin.out/
*.bak
*.log

# --- Minecraft Runtime & User Data ---
saves/
logs/
screenshots/
crash-reports/
downloads/
resourcepacks/
shaderpacks/
world/
usercache.json
usernamecache.json
command_history.txt
options.txt
user-prefs.json

# --- Mod Specific Runtime Data ---
.probe/
.curseclient
minecraftinstance.json
journeymap/
waypoints/
ftbbackups3/
local/
trees/
dynamic-resource-pack-cache/
patchouli_data.json
data/fabricDefaultResourcePacks.dat

# --- Mod Content & Logic ---
mods/
kubejs/config/**
patchouli_books/
datapacks/
moonlight-global-datapacks/
ESM/

# --- Config Filtering (Client-side & Cache) ---
*-client.toml
**/*-client.ini
**/*-client.json
**/*-client.snbt
**/keybinds.toml

# Specific mod cache/sort files
config/jei/*-sort-order.ini
config/jade/sort-order.json
config/emi.css
config/emi_ores-client.json
emi.json
config/emi_loot_config.toml
config/jei_mekanism_multiblocks-saved_data.nbt
config/jei_enhancements_bookmarks.json
config/crash_assistant/modlist.json
config/fabric/indigo-renderer.properties
config/Mekanism/client.toml
config/resourceful-config-web.json
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
!jei-client.ini